<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>

<body>
<br/>
<br/>
<br/>
<br/>
<center>
    <form th:action="${@environment.getProperty('oauth.authorize-endpoint')}">
        <input type="hidden" name="client_id" value="dragon-client"/>
        <input type="hidden" name="response_type" value="code"/>
        <input type="hidden" name="redirect_uri" value="http://localhost:8080/callback"/>
        <input type="hidden" name="state" value="12345"/>
        <input style="padding: 15px; font-size: 22px;" type="submit" value="Start Auth Code Flow"/>
    </form>
    <span><span style="font-weight: bold;">Access Token:&nbsp;</span><span th:text="${accessToken}"></span></span>
</center>
</body>
</html>
